* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body {
font-family: 'Poppins', sans-serif;
color: #2A7C6F;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 25vh;
    z-index: 100000;
}

.sticky {
    position: ;
    top: 5%;
    width: 100%;
}

.logo {
    color: #2A7C6F;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
    text-align: center;

}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #2A7C6F;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.nav-links li:hover{
    transform: scale(1.1);
    transition: .5s ease-in-out;
}
.burger {
    display: none;
    cursor: pointer;
}



@media screen and (max-width:1010px) {
  .nav-links {
    width: 60%;
  
  }
  nav {
    display: flex;
    flex-direction: column;
    height: 25vh;
  }
}

@media screen and (max-width:768px) {
    body {
        overflow: hidden;
    }

    .logo {
        font-size:x-large;
    }
    nav {
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        display: flex;
        flex-direction: column;
    }
    .nav-links {
        width: 75%;
    }

}



@media screen and (max-width:500px) {



    .burger {
        display: block;
        width:30px;
        margin-left: 80%;
        height: 30px;
        transition: .5s;
    }

    .burger:hover {
        width: 35px;
    }

    nav {
        position: relative;
    }
    .logo {
        align-items: center;
        font-size: 20px;
        margin-left:10px ;
        margin-right: 10px;
    }
    .presentation {
        flex-direction: column;
    }

    .line {
        width: 30px;
        height: 3px;
        background: #2A7C6F;
        margin: 5px;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 20%;
        transform: translate(-5%,-50%);
        z-index: 2;
    }
    .nav-links {
        position: fixed;
        background: #2A7C6F;
        height: 75vh;
        opacity: 80%;
        top: 20vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -25%);
        -webkit-clip-path: circle(100px at 90% -25%);
        transition: 1s all ease-out;
        pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(900px at 90% -25%);
        -webkit-clip-path: circle(900px at 90% -25%);
        pointer-events: all;
    }
    
    .nav-links li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }
    .nav-links li a {
        color: #ffff;
    }

    .cover {
       box-sizing: border-box;
       object-position: center;
    }
}

.nav-active {
    transform: translateX(0%);
}

@media screen and (max-width:0px) {
    nav {
        display: flex;

    }
    .burger {
        display: block;
    }
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction {
    fl£ex: 1;
}

.inro {
    margin-top: 90px;
    background-color: #EEFAF7;
    color: #2A7C6F;
    padding: 70px 0px 12px 40px;
    height: 70vh;
    width: 90%;
    margin-left: 50px;
    align-items: center;

}
.intro-text {

}
.intro-text h1{
    font-size: 44px;
    font-weight: normal;
}
.cover {
    margin-left: -15px;
    position: relative;
    padding: 80px 40px 12px 0px;
}

.specialized {
    display: flex;
    padding: 20px 20px 20px 20px;
    align-items: center;
    justify-content: center;
    font-size: xxx-large;
    color: #2A7C6F;
    background-color: #EEFAF7;
}
.services {
    display: flex;
    justify-content: space-around;
    height: 50%;
    font-size: larger;
}
.serv1 {
    justify-content: space-around;
    line-break: auto;
}
.serv2 {
    justify-content: space-around;
}

.button {
    display: flex;
    padding: 50px 0px 0px 0px;

}

.b1 {
    border: 1px solid #2A7C6F;
    color: #2A7C6F;
    font-weight: bold;
    width: 150px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    margin: 0px 20px 20px 540px;
}
.b2 {
    border: 1px solid #2A7C6F;
    color: #2A7C6F;
    font-weight: bold;
    width: 150px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    margin: 0px 20px 20px 10px;

}

.b1:hover, .b2:hover{
    background: #408b7f;
    color: #EEFAF7;
    transition: 1s;
    border: none;
}

@media screen and (max-width:500px) {
    .presentation {
        height: 50%;
    }

    .introduction {
        margin: auto;
        padding: unset;
    }
    .intro {
        margin: 15px;
        background: url(./img/myofascial.webp);
        background-size: cover;
        height: 60vh;
        font-size: larger;
        margin: 10px;
        width: 100%;
        padding: 10px;
        margin-top: 0;

    }
    .cover {
        display: none;
    }

    .intro-text {
        background: inherit;
        width: 70%;
        height: 35%;
        border-radius: 5px;
        box-shadow: 0 0 32px rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .intro-text h1 {
        font-size: x-large;
        margin: 5px;
        padding: 10px;
    }
    .intro-text h2 {
        font-size: 90%;
        font-weight: 500;
        padding: 10px;
    }

    .specialized {
        font-size: x-large;
        text-align: center;
        font-weight: 500;
    }
    .services {
        flex-direction: column;
        margin: 0 15px 15px 15px;
        font-size: large;
        font-weight: 500;
    }
    .button {
        flex-direction: column;
    }
    .b1 {
        margin: 0 30px 30px 30px;
        margin-top: -50px;
        align-items: center;
        width: 90px;
        height: 40px;
        font-size: 90%;
        color: white;
        background: #2A7C6F;
        font-weight: 550;
    }
    .b2 {
        margin: 0 30px 30px 30px;
        align-items: center;
        width: 90px;
        height: 40px;
        font-size: 90%;
        color: white;
        font-weight: 550;
        background: #2A7C6F;
    }
   
}
.aboutme {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 30px 300px 90px 300px;
    justify-content: center;
    font-size: larger;
    font-weight: 500;
}
@media screen and (max-width:500px) {
    
    .aboutme {
        margin: 0 15px 15px 15px;
    }
    .aboutme h2{
        font-size: larger;
        font-weight: 500;
    }
    .aboutme p {
        font-size: large;
        font-weight: 500;
    }

}

.container {
    margin: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 300px 500px;
    grid-gap: 10px;

}

.gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
}
.gallery-item .image {
    width: 100%;
    border-radius: 4px;
    height: 100%;
    overflow: hidden;
}
.gallery-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    transition: .7s ease-in-out;
}
.gallery-item:hover .image img {
    transform: scale(1.1);
}

.gallery-item .text {
    opacity: 0;
}

.w-2 {
    grid-column: span 2;
}

.w-3 {
    grid-column: span 3;
}
.h-2 {
    grid-row: span 2;
}

@media screen and (max-width:500px) {
    
    .container {
        margin: 15px;
        grid-gap: 5px;
    }
    .gallery-item .image {
        border-radius: 2px;
    }
    .gallery-item .image img {
        object-position: 50% 50%;
    }
    .w-2 {
        grid-column: span 1;
    }
    .h-2 {
        grid-row: span 1;
    }
    .container {
        grid-auto-rows: 250px 300px;

    }
    
}

.hours {
    text-align: center;
    padding: 50px 0 50px 0;
}



.hours p {
    font-size: 22px;
}
.csection{
    background: azure;
    margin-left: 200px;
    margin-right: 200px;
}
.csection2{
    background: azure;
    margin-left: 200px;
    margin-right: 200px;

}

.contactus {
    text-align: center;
    padding: 50px 0 50px 0;
}
.contactus p {
    font-size: 22px;

}



.middle {
    text-align: center;
    top: 60px;
}

.sbtn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 25%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #2A7C6F;
    overflow: hidden;
    position: relative;
}

.sbtn i {
    line-height: 50px;
    font-size: 25px;
    transition: .5s ease-in-out;
}

.sbtn:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.sbtn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #2A7C6F;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
.sbtn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0%{
        left: -110%;
        top: 90%;
    }
    50%{
        left: 10%;
        top: -30%;
    }
    100%{
        left: -10%;
        top: -10%;
    }
}

.contact-form {
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
    padding-bottom: 50px;
}

.cf-text {
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
    border: none;
    border-bottom: 1px solid #2A7C6F;
    width: 100%;
    box-sizing: border-box;
    margin: 16px 0;
    background: transparent;
    padding: 20px 40px;
    outline: none;
    color: #2A7C6F;
    transition: 0.5s ease-in-out;
}

.cf-text:hover {
    transform: scale(1.1);
}
textarea.cf-text {
    resize: none;
    height: 120px;
}

.cf-btn {
    border: 1px solid #2A7C6F;
    background: none;
    padding: 10px 20px;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
    color: #2A7C6F;
    font-weight: 600;
    transition: .8s;
    position: relative;
    overflow: hidden;
    border-radius: 1px;
}

.cf-btn:hover{
    color: #ffff;
    background: #2A7C6F;
}
.cf-btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: #2A7C6F;
    z-index: -1;
    transition: .8s;

}
.cf-btn::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}
.cf-btn:hover::before{
    height: 180%;
}
.footer {
    text-align: center;
    font-size: 20px;
}

.sorry li {
    text-decoration: underline;
    list-style: none;

}
.sorry {
    display: flex;
    text-align: center;
    padding: 50px 50px 0 300px;
}

.csection4 {
    background: azure;
    background-image: ur£l(https://images.unsplash.com/photo-1604257206295-cef0385a32dd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width:500px) {
    .container {
        grid-template-columns: repeat(1,1fr);
    }
    .w-2 {
        grid-column: span 1;
    }
    .csection {
        margin: 15px;
    }
    .hours p {
        font-size: large;
    }
    .csection2 {
        margin: 15px;
        
    }
    .cf-btn {
        width: 90px;
        height: 40px;
        font-size: 90%;
        color: white;
        background: #2A7C6F;
        font-weight: 550;
        transition: .5s;
    }
    .cf-text {
        font-size: large;
        height: 45px;
    }
    .cf-btn:hover{
        background: #1d7567;
    }
    textarea .cf-text{
        height: 60px;
    }
    .footer {
        font-size: large;
    }
    .sorry {
        font-size: 15px;
        margin: 15px;
        padding: unset;
    }
    .intro {
        margin: 15px;
    }
    .intro-text {
        font-size: larger;
    }

}
